<h1>SoilSamples#show</h1>

<ul>
  <li>Location: <%= @sample.location %></li>
  <li>Scientist: <%= @sample.scientist %></li>
</ul>

<p>
  <%= describe(@sample) %>
</p>

<p>Find me in app/views/soil_samples/show.html.erb</p>
