<form action="/entries" method="post" accept-charset="utf-8">
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


  <label for="title">Entry Title</label>
  <input type="text" name="title" value="" id="title">

  <label for="description">Description</label>
  <input type="text" name="description" value="" id="description">

  <input type="submit" value="Submit">
</form>

<%= link_to("Back to the List", entries_path,
        {
          :class => "return-link",
          :alt => @alt,
        } ) %>

<!--

anything in here

is a comment
-->

<%# These all do the same thing:
:symbol => "value"
symbol: value
{ :symbol => "value", }
%>
